<div class="ddui-popupSelect" id="ddui-basePopupSelect" v-class="hide:isHide" v-style="top: top + 'px',
  left: left + 'px'">
<div class="ddui-popupSelect-group-wrap flex-box-row">
	<template v-if="type=='radio'">
	<ul class="ddui-popupSelect-group " v-on="click:groupClick($event)">
		<li v-repeat="g:group" title="{{g.name}}" v-attr="data-id:g.id,data-name:g.name" v-class="ddui-popupSelect-group-active:showGroup==g.name">{{g.name}}</li>
	</ul>
	<ul class="ddui-popupSelect-item-wrap flex-box-1" v-on="click:itemBoxClick($event)">
			<li v-repeat="it:showList">
				<h5 class="ddui-popupSelect-item-title" v-if="it.title">{{it.title}}</h5>
				<div class="ddui-popupSelect-item-box">
					<label class="ddui-popupSelect-item-label" v-repeat="item:it.item">
						<input type="radio" name="popupSelect" v-model="selected" value="{{item.value}}" v-attr="data-name:item.name"><span>{{item.name}}</span>
					</label>
				</div>
			</li>
	</ul>
</template>
<template v-if="type=='checkbox'">
	<ul class="ddui-popupSelect-group " v-on="click:groupClick($event)">
		<li v-repeat="g:group" title="{{g.name}}" v-attr="data-id:g.id,data-name:g.name" v-class="ddui-popupSelect-group-active:showGroup==g.name">
			<input type="checkbox" name="popupSelect" v-model="g.selected" value="{{g.value}}" v-attr="data-name:g.name"/>{{g.name}}</li>
	</ul>
	<ul class="ddui-popupSelect-item-wrap flex-box-1" v-on="click:itemBoxClick($event)">
			<li v-repeat="it:showList">
				<h5 class="ddui-popupSelect-item-title" v-if="it.title">{{it.title}}</h5>
				<div class="ddui-popupSelect-item-box">
					<label class="ddui-popupSelect-item-label" v-repeat="item:it.item">
						<input type="checkbox" name="popupSelect" v-model="item.selected" value="{{item.value}}" v-attr="data-name:item.name"><span>{{item.name}}</span>
					</label>
				</div>
			</li>
	</ul>
</template>

	</div>
	<div class="ddui-popupSelect-btn-box">
		<template v-if="type=='radio'">
			<label class="ddui-popupSelect-all" v-if="other.name"><input type="radio" value="{{other.value}}" v-model="selected" v-on="click:otherClick($event)"><span>{{other.name}}</span></label>
		</template>
		<template v-if="type=='checkbox'">
			<label class="ddui-popupSelect-all" v-if="other.name"><input type="checkbox" value="{{other.value}}" v-model="other.selected" v-on="click:otherClick($event)"><span>{{other.name}}</span></label>
		</template>

	 	<input type="button" value="取消" class="ddui-btn-cancel ddui-btn02 right" v-on="click:cancelClick"/>
	  	<input type="button" value="确定" class="ddui-btn ddui-btn02 right" v-on="click:okClick"/>
	</div>	
</div>
