html,
body {
	min-height:100%;
    font-family:"microsoft yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    background: #fff!important;
    letter-spacing: 1px;
	position:relative;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
[tabindex],[tabindex]:focus{outline: none;}
a,input, textarea, select,button {
    font-family: "microsoft yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
    resize: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover,a:active{color:#ff8903;}
p {
    margin: 1em 0;
}
[v-cloak] { display: none!important; }

ul,li{list-style: none;}
.rel{
    position: relative;
}
.absolute{position: absolute;}
.right {
  float: right;
}
.left{float: left;}
.txt-center {
  text-align: center;
}


@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_1439804743_706873.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1439804743_706873.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1439804743_706873.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1439804743_706873.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1439804743_706873.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.ddui-font-fangda:before { content: "\e614"; }
.ddui-font-bianji:before { content: "\e60f"; }
.ddui-font-sousuo:before { content: "\e612"; }
.ddui-font-jiahao:before { content: "\e611"; }
.ddui-font-zuosanjiao:before { content: "\e61a"; }
.ddui-font-zuojiantou:before { content: "\e606"; }
.ddui-font-youjiantou:before { content: "\e607"; }
.ddui-font-loading2:before { content: "\e608"; }
.ddui-font-shangsanjiao:before { content: "\e609"; }
.ddui-font-biaoqian:before { content: "\e61c"; }
.ddui-font-iconfontzhexiantu:before { content: "\e60a"; }
.ddui-font-cha:before { content: "\e60b"; }
.ddui-font-zhoujie:before { content: "\e61d"; }
.ddui-font-icsanjiaoxia:before { content: "\e60c"; }
.ddui-font-tongjitu:before { content: "\e60d"; }
.ddui-font-zhexiantu:before { content: "\e60e"; }
.ddui-font-dingdan0:before { content: "\e601"; }
.ddui-font-wujiaoxing:before { content: "\e600"; }
.ddui-font-tongjifenxi:before { content: "\e615"; }
.ddui-font-zhuzhuangtu:before { content: "\e602"; }
.ddui-font-108fenleifangkuai:before { content: "\e616"; }
.ddui-font-dayuhao:before { content: "\e619"; }
.ddui-font-quanbuwenshufuzhi:before { content: "\e610"; }
.ddui-font-shixinxinxing:before { content: "\e603"; }
.ddui-font-yingxiaohuodong:before { content: "\e61e"; }
.ddui-font-jikediancanicon45:before { content: "\e61f"; }
.ddui-font-tishi:before { content: "\e613"; }
.ddui-font-shangchuan:before { content: "\e621"; }
.ddui-font-tables:before { content: "\e620"; }
.ddui-font-iconfontpingmufangda:before { content: "\e604"; }
.ddui-font-iconfontpingmusuoxiao:before { content: "\e605"; }
.ddui-font-iconfontshexiangtou:before { content: "\e617"; }
.ddui-font-shujuku:before { content: "\e61b"; }
.ddui-font-didi-bi:before { content: "\e618"; }



 .ddui-con-body{background-color: #fff;border-top: 2px solid #e7e7e7;}
  
/*设置icon-size 保持大小一致*/
.iconfont.icon-dingdan0{font-size: 45px;}
.iconfont.icon-zhuzhuangtu{font-size: 30px;}
.iconfont.icon-shixinxinxing{font-size: 50px;}
dl,dt, dd,ul,li{margin:0;padding: 0;}
.show{display: block!important;}
.hide{display: none!important;}
.color-orange{color:#ff8d04;}
.clearfix{*zoom:1;}
.clearfix:after{content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height:0;
}
.ddui-color-orange{
	color:#ff8d04;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "microsoft yahei";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.con-body a {
  text-decoration: none;
  color: #FF8A07;
  font-size: 12px;
}

.content-wrap {
  padding: 25px;
  position: relative;
  min-height: 600px;
  font-family: "sans-serif";
}
.con-title-box {
  margin: 0 0 20px 0;
}

.flex-box-row{
    display: flex;
  flex: box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: flex;
  -moz-flex: flex;
  flex-flow: row;
}
.flex-box-1{
    webkit-box-flex: 1;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  flex: 1;
}
.ddui-btn {
    background: #ff8a07;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.ddui-btn:link {
    background: #ff8a07;
}
.ddui-btn:hover {
    background: #ffa32c;
    color: #fff;
}
.ddui-btn:active {
    background: #fb8500;
}
.ddui-btn-cancel {
    background: #d2d2d2;
      background: #d2d2d2;
     border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
/*
.ddui-btn-cancel:link {
    background: #d2d2d2;
}
.ddui-btn-cancel:hover {
    background: #8d8d8d;
}
.ddui-btn-cancel:active {
    background: #7d7d7d;
}
*/
.ddui-btn01 {
    padding: 9px 10px;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.ddui-btn02 {
    padding: 0 15px;
    color: #fff;
    height: 24px;
    line-height: 24px;
}
.ddui-btn03 {
    padding: 0 28px 0 20px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 0;
}
/*jquery-ui 自动填充的css巴拉过来*/
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none
}

.ui-menu .ui-menu {
    position: absolute
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
}

.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0
}

.ui-menu .ui-state-focus,.ui-menu .ui-state-active {
    margin: -1px
}
.ui-widget-content {
    border: 1px solid #ddd;
     background:#eee; 
    color: #333;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em
}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
    border: 1px solid #ccc;
    background: #f6f6f6 ;
    font-weight: bold;
    color: #1c94c4
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
    border: 1px solid #fbcb09;
    background: #fdf5ce ;
    font-weight: bold;
    color: #c77405
}

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited {
    color: #c77405;
    text-decoration: none
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ddui-form-item{min-height:30px;margin-bottom: 10px;line-height: 30px;font-size: 12px;vertical-align: middle; }
.ddui-input-01{width: 130px;margin-right: 5px;height: 30px;border:1px solid #e6e6e6;box-sizing: border-box;padding:0 5px; vertical-align: middle;}
.ddui-select-label01{color:#a9a9a9;padding:0 5px;}
.ddui-select-01{border:0 none; min-width:80px;}
.ddui-btn-delete{width: 60px;height:30px;box-sizing: border-box;border:1px solid #e5e5e5;border-radius: 3px;line-height: 28px;background: #fff;
    cursor: pointer;}
.ddui-select{
    min-width: 80px;
    border: 1px solid #e5e5e5;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
}
.ddui-label{
    display: inline-block;;height: 30px;width: 80px;color:#6b6b70;font-weight: 700;
}
.ddui-btn-big{font-family:"Microsoft Yahei";cursor:pointer;font-size:14px;height: 42px;box-sizing: border-box;padding:0 50px;text-align: center;line-height: 40px;border:1px solid #e0e0e0;background: #fff;color:#666;border-radius: 3px;outline-color: #ff8d04;outline: none;display:inline-block;}
.ddui-input-text{width: 240px;height:30px;line-height: 28px;box-sizing: border-box;border:1px solid #e6e6e6;border-radius: 3px;padding:0 5px;margin-right: 5px;}
.ddui-form-btn-box{padding: 25px 0;}
.ddui-btn-submit{border:1px solid #ff8d04;background: #ff8d04;color:#fff;}
.ddui-btn-add .iconfont{color:#ff8d04;}
.ddui-btn-add:hover,.ddui-btn-add:hover .iconfont{color:#fff;background: #ff8d04;}
.ddui-uoload,.ddui-popupSelect-group .ddui-uoload{color:#ff8d04;}
/*
dui-tab
*/
.ddui-tab-list{height:28px;border-bottom: 1px solid #f0f0f0; color:#666;margin-top:15px;}
.ddui-tab-list li{height:27px;line-height:27px;border:1px solid #f0f0f0;border-top-left-radius: 3px;border-top-right-radius:3px;border-bottom: 0 none;min-width: 108px;display: inline-block;margin-right: 5px;text-align: center;cursor: pointer; }
.ddui-tab-list li.ddui-tab-active,.ddui-tab-list li:hover{ background: #f5f5f5;}

 

.ddui-gridview{
	margin-top:20px;
}

.ddui-page-title01{
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
}
.ddui-page-title01:before{
    content: " ";float:left;width:5px;height:inherit;background-color: #ff8c03;margin-right: 5px;
}
.ep-pages {
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 740px;
    margin: 0 auto;
    font-size: 12px;
}
.ep-pages li{list-style: none}
.ep-pages li, .ep-pages a,.ep-pages span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
    background: #ff7f01;
    cursor: pointer;
    text-decoration: none;
	color:#fff;
}
.ep-pages li:hover, .ep-pages a:hover {
    color: #000;
    background: #d7d7d7;
}
.ep-pages .page-action, .ep-pages .page-action a {
    background: #d7d7d7;
    color: #000;
}
.ep-pages .page-action:hover, .ep-pages .page-action a:hover {
    cursor: text;
}
.ep-pages .page-btn, .page-btn a {
    width: 75px;
    background: #ff7f01;
}
.ep-pages .ep-pages-disabled {
    background: #d7d7d7;
    cursor: text;
}
.ep-pages .ep-pages-disabled:hover {
    color: #fff;
    background: #e5e5e5;
}
	

.page-wrap{
        padding: 30px 0 0 50px;
}
.ddui-page-title01{
   font-size: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  font-weight: 700;
}
.ddui-page-title01:before{
    content: " ";display: inline-block;width:5px;height:inherit;background-color: #ff8c03;margin-right: 5px;
}
/*搜索表单的相关样式，ex：实时业务监控*/
.ddui-filter-wrap{min-height: 60px;border-bottom:#f5f4f4 1px solid;margin-bottom: 35px;padding-bottom:10px;}
.ddui-filter-box{min-height: 60px;padding:30px 0 0 0;line-height: 30px;background-color: transparent;}
.ddui-filter-box .ddui-filter-item-box01{display: inline-block;height:30px;margin:0 15px 20px 0;box-sizing:border-box;min-width:150px;}
.ddui-filter-item-box01 label{color:#666;}
.ddui-filter-select,.ddui-filter-input{
	max-width: 200px;
    padding-left: 10px;
  min-width: 100px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ECEBEB;
  border-radius: 3px;
  color: #999;}
.ddui-data-legend-box{height:22px;position: relative;}
.ddui-data-legend-box label{display: inline-block;}
.ddui-legend-label{margin-right: 25px;line-height: 22px;font-size: 12px;vertical-align: middle;}
.ddui-filter-checkbox{margin: -3px 10px 0 0;vertical-align: middle;}
.ddui-legend-display{display: inline-block;height:10px; width: 10px;border-radius: 5px;margin-right: 5px;}
.ddui-orange-legend{background-color: #ffbd66;}
.ddui-red-legend{background-color: #ff6c6c;}
.ddui-green-legend{background-color: #95e257;}
.ddui-data-info-tips{position: absolute;right: 10%;top: 0;}
.ddui-date-input-item-box{display: inline-block;    margin: 0 0 0 10px;}
/*form样式*/
 
.form-box{padding: 50px;border: 1px solid #E1E1E1;}

.form-title01{height:20px;font-size: 20px;font-weight: 500;line-height: 20px;padding-bottom: 20px;border-bottom: 1px solid #e6e6e6;margin:0;}
.ddui-form-list{margin:30px 0 ;padding:0  0 30px 0;border-bottom: 1px solid #f5f5f5;}
.ddui-form-title{height:27px;font-size: 14px;font-weight: 700;line-height:27px;color:#333;}
.ddui-form-input-item{min-height:30px;line-height: 30px;margin-top: 15px;position:relative;}
.ddui-must-start{color: #F42B2B;    font-style: normal;font-weight:700;top:3px;}
.form-input-txt{height:42px;line-height: 42px;margin-bottom: 10px;}
.ddui-label-title{min-width: 65px;   font-size:12px; margin: 0 10px 0 15px;    color: #666;display:inline-block;}
.ddui-input-box{min-height:30px;}
.ddui-form-input{height:inherit;box-sizing:border-box;border:1px solid #e6e6e6;border-radius:3px;line-height:28px;padding:0 5px;width:240px;}

.ddui-form-error-msg{    border: 1px solid #FFB8B8;
    background: #FFB;
    display: inline-block;
    height: 30px;
    max-width: 375px;
    padding: 0 15px;
    vertical-align: top;
    box-sizing: border-box;
    color: #CF0101;
    position: relative;
    line-height: 30px;
  }
  
 .ddui-form-error-msg::before {
 content: "";
    position:absolute;
    height:0;width:0;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:0 solid transparent;
    border-right:6px solid #ffb8b8;
    top:10px;
    left:-6px;
 }
 .ddui-form-error-msg::after{
    content: "";
    position:absolute;
    height:0;width:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:0 solid transparent;
    border-right:5px solid #ffffbb;
    top:11px;
    left:-5px;
 }
 .ddui-form-textarea{height:65px;border:1px solid #e6e6e6;width:430px;padding:5px;line-height:1.2em;border-radius:3px;}
 .ddui-form-textarea-01{height:120px;border:1px solid #e6e6e6;width:430px;padding:5px;line-height:1.2em;border-radius:3px;}
 .ddui-form-select{height:30px;box-sizing:border-box;border:1px solid #e6e6e6;border-radius:3px;line-height:28px;padding:0 5px;width:240px;}
 .ddui-label-radio{display: inline-block;
    height: inherit;
    line-height: inherit;
    margin-right: 30px;}
 .ddui-radio-title {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
}
 .ddui-form-radio {
    vertical-align: middle;
    margin: -2px 10px 0 0;
}
.ddui-txt-box {
    min-height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    min-width: 100px;
    margin-right: 24px;
    display: inline-block;
    padding: 0 10px;
}
.ddui-form-btn{
	padding: 0 15px;
    cursor: pointer;
    background: #FF7F01;
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    border: 0 none;
    color: #FFF;
    font-size: 14px;
    outline: none;
	display:inline-block;
}
.ddui-form-btn-01{
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    margin: 0 7px;
    padding: 0 15px;
    background: #FF7F01;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-size: 14px;
    box-sizing: border-box;
}


a.ddui-form-btn-01:hover{color:#fff;}





.ddui-table{
	font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
	}
.ddui-table td, .ddui-table th {
    border: 1px solid #f0f0f0;
    text-align: center;
}
.ddui-table-thead {
    background: #f4f3f3;
    color: #999;
}
.ddui-table-2n tr:nth-child(2n) {
    background: #fcfcfc;
}
.ddui-table tr {
    height: 32px;
    line-height: 32px;
}
.ddui-table-title{display:block;height:100%;box-sizing:border-box;width:120px;color:#333;}
.ddui-form-selected-01{
	height: 100%;
    border: 0 none;
    text-align: center;
	font-size:12px;
}
.ddui-form-btn-txt{width:120px;height:30px;line-height:30px;display: inline-block;color:#FF8D04;cursor: pointer;}
.ddui-table-txt{float: left;
    width:120px;
    height: 30px;
    line-height: 30px;
     display: inline-block;
	overflow:hidden;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    text-align: center; }
.ddui-search-box{
    margin:25px 0 0 55px;
    height:40px;
    line-height: 40px;
}
.ddui-search-input{
    width:422px;height: 40px;border:0 none;
}

.ddui-popupSelect{position: absolute;width:580px;height:240px;overflow: hidden;box-sizing:border-box;border:1px solid #CCC;
	z-index: 1000;
  top: 250px;
  left:100px;
  background-color: #fff;

    -moz-transition: top 0.25s ease-in 0s;
    -webkit-transition: top 0.25s ease-in 0s;
    -o-transition: top 0.25s ease-in  0s;
    transition: top 0.25s ease-in  0s;
 -moz-transition: left 0.25s ease-in 0s;
    -webkit-transition: left 0.25s ease-in 0s;
    -o-transition: left 0.25s ease-in 0s;
    transition: left 0.25s ease-in  0s;
}
.ddui-popupSelect-group-wrap{height:200px;}
.ddui-popupSelect-group{width:100px;overflow-x:hidden;overflow-y:auto;padding: 5px 0; box-sizing: border-box;}
.ddui-popupSelect-group li{color:#666;text-align: center;font-size:14px;height:26px;line-height: 26px;cursor: pointer;overflow: hidden;}
.ddui-popupSelect-group li:hover,.ddui-popupSelect-group li.ddui-popupSelect-group-active{background-color: #f5f5f5;}
.ddui-popupSelect-item-wrap{height:inherit;overflow-y:auto;border-left: 1px solid #f0f0f0;padding:5px 0;box-sizing: border-box;}
.ddui-popupSelect-item-wrap li{color:#a6a6a6;font-size: 12px;}
.ddui-popupSelect-item-title{height:20px;background-color: #fafafa;line-height: 20px;text-indent: 1em;}
.ddui-popupSelect-item-box{line-height: 24px;padding-left: 1em;}
.ddui-popupSelect-item-box .ddui-popupSelect-item-label{min-width: 65px;display: inline-block;box-sizing:border-box;margin-right: 5px;height:24px;}
.ddui-popupSelect-item-label input,.ddui-popupSelect-all input,.ddui-popupSelect-group input{margin-right: 5px;vertical-align: middle;margin-top: -2px;}
.ddui-popupSelect-btn-box{height:38px;border-top: 1px solid #f0f0f0; padding: 6px 0;box-sizing:border-box;}
.ddui-popupSelect .ddui-popupSelect-all{margin-left: 15px;display: inline-block;vertical-align: middle;}

.ddui-popupSelect ul{
            scrollbar-face-color:#F3F3F3; /*面子*/
            scrollbar-arrow-color:#C0C0C0; /*箭头*/
            scrollbar-3dlight-color:#C0C0C0; /*最外左*/
            scrollbar-highlight-color:#FFFFFF; /*左二*/
            scrollbar-shadow-color:#FFFFFF; /*右二*/
            scrollbar-darkshadow-color:#C0C0C0; /*右一*/
            scrollbar-track-color:rgba(0,0,0,0); /*滑道*/
        }
        /*滚动条整体*/
.ddui-popupSelect  ul::-webkit-scrollbar{
            width:10px; /*滚动条宽度*/
        }
        /*滚动条按钮*/
.ddui-popupSelect  ul::-webkit-scrollbar-button {

        }
.ddui-popupSelect  ul ::-webkit-scrollbar-track{
            background-color:rgba(0,0,0,0);  /*滑道全部*/
        }
.ddui-popupSelect  ul::-webkit-scrollbar-track-piece{
            background-color:rgba(0,0,0,0);  /*滑道*/
            -webkit-border-radius:5px; /*滑道圆角宽度*/
        }
.ddui-popupSelect  ul::-webkit-scrollbar-thumb{
            background-color:#fafafa; /*滑动条表面*/
            border:solid 1px #C0C0C0; /*滑动条边框*/
            border-radius:5px;  /*滑动条圆角宽度*/
        }
        /*横竖滚动条交角*/
.ddui-popupSelect  ul::-webkit-scrollbar-corner {
            background-color: #fafafa;
        }
        /*横竖滚动条交角图案*/
.ddui-popupSelect  ul::-webkit-resizer {
            /*background-image: url(/public/img/resizer-inactive.png);*/
           background-repeat: no-repeat;
           background-position: bottom right;
       }
       /*鼠标滑过滑动条*/
.ddui-popupSelect  ul::-webkit-scrollbar-thumb:hover{
            background-color:#999;
        }
/*gridview相关的样式*/
.ddui-gridview-box {
    padding: 10px 0;
}
.ddui-gridview-table {
    width: 100%;
}
.ddui-gridview-table, .ddui-gridview-table td, .ddui-gridview-table th {
    border: 1px solid #e2e2e2;
    text-align: center;
    position: relative;
}
.ddui-gridview-table thead {
    background: #f4f3f3;
    color: #999;
}
.ddui-gridview-table tr:nth-child(2n) {
    background: #fcfcfc;
}
.ddui-gridview-table tr {
    height: 32px;
    line-height: 32px;
    word-break: break-all;
    word-wrap: break-word;
}
.ddui-gridview-box .ddui-th-title01 {
    min-width: 40px;
}
.ddui-gridview-box .ddui-th-title02 {
    min-width: 170px;
}
.ddui-gridview-box .ddui-th-title03 {
    min-width: 150px;
}
.ddui-gridview-box .ddui-th-title04 {
    min-width: 150px;
}
.ddui-gridview-box .ddui-th-title03,.ddui-gridview-box .ddui-th-title01,.ddui-gridview-box .ddui-th-title02,.ddui-gridview-box .ddui-th-title04{
	max-width: 280px;
   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
}
.ddui-action-item{display: inline-block;margin-right: 30px;cursor: pointer;}
.ddui-gridview-table thead div{min-width:80px;line-height:1;}
.ddui-gridview-table .ddui-table-drag{
    position: absolute;
    cursor: ew-resize;
    width: 4px;
    height: 100%;
    top: 0;
    right: 0;
}
.ddui-banner-box{width: 100%;height:90px;}
.ddui-logo{float: left;width:100px;height:inherit;background: #ff8c03;}
.ddui-font-didi-bi{color: #fff;
    font-size: 65px;
    text-align: center;
    margin: -4px 0 0 15px;
    display: inline-block;}
.ddui-page-title{overflow: hidden;height:inherit;line-height: 90px;padding-left: 50px;font-size: 30px;background: #fff;}
.ddui-nav-wrap{display: flex;}
.ddui-navtree-box{width:100px;background: #363b3f;padding: 0;min-height:100vh;
    box-sizing: border-box;}
.ddui-navtree-box .iconfont{
      font-size: 24px;
}
.ddui-navtree-box li{margin:38px 0 0 0; text-align: center;height:52px;color:#6d7077;cursor: pointer;}
.ddui-navtree-box li:hover,.ddui-navtree-box .ddui-navtree-active{color:#fa8919;position: relative;}
.ddui-navtree-active:before{position: absolute;right:0;top:23px;content:" ";height:0;width:0;
    border-top: 8px solid transparent;border-left:0 solid transparent;
    border-right: 8px solid #fff;    border-bottom: 8px solid transparent;
}
.ddui-icon-navtree{height:24px;margin-bottom: 15px;font-size: 24px;line-height:24px;}
.ddui-navtree-title01{font-size: 14px;line-height: 15px;height: 15px;overflow: hidden;font-weight: 500;}
.ddui-navtree-trunk-list{
    width: 219px;
    border-right: 1px solid #CCC;
    padding: 38px 0 0 0;
    background-color: #FAFAFA;
    overflow: hidden;;
    box-sizing: border-box;
    border-top: 2px solid #E7E7E7;
    -moz-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    line-height: 35px;

}
.ddui-navtree-trunk{font-size: 16px;}
.ddui-navtree-trunk-title{height: 30px;     cursor: pointer;
    padding: 0 0 0 26px;
    font-size: 14px;
    margin: 0 0 15px 0;
    color: #666;}
.ddui-navtree-trunk-title.ddui-nav-active > a{color:#ff8d04;}
.ddui-navtree-leaf-list{margin: 10px 0 0 10px;}
.ddui-navtree-trunk a{display: block;height:30px;line-height:30px;overflow: hidden;padding:0 0 0 1em;margin:1px 0;font-size: 14px;color: #666}
.ddui-navtree-trunk-title > a{padding: 0 ;}
.ddui-navtree-leaf-list a:hover,.ddui-navtree-leaf-list .ddui-nav-active{background-color: #F5F5F5;
    margin: 1px 0 1px -58px;
    text-indent: 58px;
    color:#ff8d04;
}
.ddui-navtree-leaf-title{height:35px;line-height: 35px;cursor: pointer;}
.ddui-navtree-branch{padding: 0 0 0 3em;}
.ddui-icon-trunk-item{margin-right:12px;display: inline-block}
.ddui-navtree-trunk-title:hover,.ddui-navtree-leaf-title:hover{color:#ff8d04;}
.ddui-icon-trunk-item.ddui-font-dayuhao {margin-right: 0 }
.ddui-nav-active  .ddui-font-dayuhao{transform:rotate(-90deg);
    -ms-transform:rotate(90deg);; 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg);/* Safari 和 Chrome */
    -o-transform:rotate(90deg);
    margin-right: 10px;
}


.ddui-navtree-leaf-title.ddui-nav-active{
    color:#666;
}.ddui-navtree-leaf-title.ddui-nav-active > a{
     color: #ff8d04;
     background-color: #F5F5F5;
}
.ddui-navtree-leaf-title >a {
    margin: 1px 0 1px -48px;
    text-indent: 16px;
    display: block;
}
.ddui-nav-active  a > .ddui-font-dayuhao{transform:rotate(90deg);
    -ms-transform:rotate(0deg);;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    margin-right: 0px;
}


.ddui-nav-close-active .ddui-font-zuosanjiao{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);; 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg);/* Safari 和 Chrome */
    -o-transform:rotate(180deg);

}
.ddui-nav-trunk-close{position: absolute;top:2px;right:1px;
    height:30px;width: 30px;background: rgb(243,243,243);
    padding: 5px;
    box-sizing: border-box;
    color: #999;
    display: inline-block;
	line-height: 20px;
    display: inline-block;
    text-align: center;
    z-index: 50;
}
.ddui-nav-trunk-close .iconfont{display: inline-block;}
.ddui-nav-close-active{
    right:-30px;
}
.ddui-navtree-trunk-hide{
    width: 0;
    border-right: 0 none;
}
.ddui-toggle-trunk .ddui-navtree-branch{display: none;}
.ddui-search-box{
    margin:25px 0 0 55px;
    height:40px;
    line-height: 40px;
}
.ddui-search-input{
    width:422px;height: 40px;border:0 none;background-color: #f5f5f5;padding:0 0 0 15px;font-size: 14px;box-sizing:border-box;vertical-align: middle;
    color:#aaa;
}
.ddui-search-btn{
    width: 46px;
    height: 40px;
    border: 0 none;
    background-color: #CCC;
    display: inline-block;
    margin: 0 0 0 -5px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.ddui-search-btn:hover{background-color: #999;}
.ddui-search-btn .ddui-font-sousuo{color:#fff;font-size: 20px;}
.ddui-logo .ddui-font-didi-bi{font-size: 65px;height: 90px;      line-height: 90px;}


