.ddui-banner-box{width: 100%;height:90px;}
.ddui-logo{float: left;width:100px;height:inherit;background: #ff8c03;}
.ddui-font-didi-bi{color: #fff;
    font-size: 65px;
    text-align: center;
    margin: -4px 0 0 15px;
    display: inline-block;}
.ddui-page-title{overflow: hidden;height:inherit;line-height: 90px;padding-left: 50px;font-size: 30px;background: #fff;}
.ddui-nav-wrap{display: flex;}
.ddui-navtree-box{width:100px;background: #363b3f;padding: 0;min-height:100vh;
    box-sizing: border-box;}
.ddui-navtree-box .iconfont{
      font-size: 24px;
}
.ddui-navtree-box li{margin:38px 0 0 0; text-align: center;height:52px;color:#6d7077;cursor: pointer;}
.ddui-navtree-box li:hover,.ddui-navtree-box .ddui-navtree-active{color:#fa8919;position: relative;}
.ddui-navtree-active:before{position: absolute;right:0;top:23px;content:" ";height:0;width:0;
    border-top: 8px solid transparent;border-left:0 solid transparent;
    border-right: 8px solid #fff;    border-bottom: 8px solid transparent;
}
.ddui-icon-navtree{height:24px;margin-bottom: 15px;font-size: 24px;line-height:24px;}
.ddui-navtree-title01{font-size: 14px;line-height: 15px;height: 15px;overflow: hidden;font-weight: 500;}
.ddui-navtree-trunk-list{
    width: 219px;
    border-right: 1px solid #CCC;
    padding: 38px 0 0 0;
    background-color: #FAFAFA;
    overflow: hidden;;
    box-sizing: border-box;
    border-top: 2px solid #E7E7E7;
    -moz-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    line-height: 35px;

}
.ddui-navtree-trunk{font-size: 16px;}
.ddui-navtree-trunk-title{height: 30px;     cursor: pointer;
    padding: 0 0 0 26px;
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #666;}
.ddui-navtree-trunk-title.ddui-nav-active > a{color:#ff8d04;}
.ddui-navtree-leaf-list{margin: 10px 0 0 10px;}
.ddui-navtree-trunk a{display: block;height:30px;line-height:30px;overflow: hidden;padding:0 0 0 1em;margin:1px 0;font-size: 14px;color: #666}
.ddui-navtree-trunk-title > a{padding: 0 ;}
.ddui-navtree-leaf-list a:hover,.ddui-navtree-leaf-list .ddui-nav-active{background-color: #F5F5F5;
    margin: 1px 0 1px -58px;
    text-indent: 58px;
    color:#ff8d04;
}
.ddui-navtree-leaf-title{height:35px;line-height: 35px;cursor: pointer;}
.ddui-navtree-branch{padding: 0 0 0 3em;}
.ddui-icon-trunk-item{margin-right:12px;display: inline-block}
.ddui-navtree-trunk-title:hover,.ddui-navtree-leaf-title:hover{color:#ff8d04;}
.ddui-icon-trunk-item.ddui-font-dayuhao {margin-right: 0 }
.ddui-nav-active  .ddui-font-dayuhao{transform:rotate(-90deg);
    -ms-transform:rotate(90deg);; 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg);/* Safari 和 Chrome */
    -o-transform:rotate(90deg);
    margin-right: 10px;
}


.ddui-navtree-leaf-title.ddui-nav-active{
    color:#666;
}.ddui-navtree-leaf-title.ddui-nav-active > a{
     color: #ff8d04;
     background-color: #F5F5F5;
}
.ddui-navtree-leaf-title >a {
    margin: 1px 0 1px -48px;
    text-indent: 16px;
    display: block;
}
.ddui-nav-active  a > .ddui-font-dayuhao{transform:rotate(90deg);
    -ms-transform:rotate(0deg);;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    margin-right: 0px;
}


.ddui-nav-close-active .ddui-font-zuosanjiao{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);; 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg);/* Safari 和 Chrome */
    -o-transform:rotate(180deg);

}
.ddui-nav-trunk-close{position: absolute;top:2px;right:1px;
    height:30px;width: 30px;background: rgb(243,243,243);
    padding: 5px;
    box-sizing: border-box;
    color: #999;
    display: inline-block;
	line-height: 20px;
    display: inline-block;
    text-align: center;
    z-index: 10;
}
.ddui-nav-trunk-close .iconfont{display: inline-block;}
.ddui-nav-close-active{
    right:-30px;
}
.ddui-navtree-trunk-hide{
    width:0;
    margin: 0 0 0 -1px;
}
.ddui-toggle-trunk .ddui-navtree-branch{display: none;}
.ddui-navtree-trunk  a:hover {
    color: #ff8c03;
}

