html,
body {
	min-height:100%;
    overflow-x: hidden;
    font-family:"microsoft yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    background: #f3f3f3!important;
    letter-spacing: 1px;
	position:relative;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
[tabindex],[tabindex]:focus{outline: none;}
a,input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
    resize: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover,a:active{color:#ff8903;}
p {
    margin: 1em 0;
}
[v-cloak] { display: none!important; }

ul,li{list-style: none;}
.rel{
    position: relative;
}
.absolute{position: absolute;}
.right {
  float: right;
}
.left{float: left;}
.txt-center {
  text-align: center;
}
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1436775863_7268705.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1436775863_7268705.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1436775863_7268705.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1436775863_7268705.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1436775863_7268705.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fangda:before { content: "\e614"; }
.icon-bianji:before { content: "\e60f"; }
.icon-sousuo:before { content: "\e612"; }
.icon-jiahao:before { content: "\e611"; }
.icon-zuojiantou:before { content: "\e606"; }
.icon-youjiantou:before { content: "\e607"; }
.icon-loading2:before { content: "\e608"; }
.icon-shangsanjiao:before { content: "\e609"; }
.icon-iconfontzhexiantu:before { content: "\e60a"; }
.icon-cha:before { content: "\e60b"; }
.icon-icsanjiaoxia:before { content: "\e60c"; }
.icon-tongjitu:before { content: "\e60d"; }
.icon-zhexiantu:before { content: "\e60e"; }
.icon-dingdan0:before { content: "\e601"; }
.icon-wujiaoxing:before { content: "\e600"; }
.icon-zhuzhuangtu:before { content: "\e602"; }
.icon-quanbuwenshufuzhi:before { content: "\e610"; }
.icon-shixinxinxing:before { content: "\e603"; }
.icon-tishi:before { content: "\e613"; }
.icon-iconfontpingmufangda:before { content: "\e604"; }
.icon-iconfontpingmusuoxiao:before { content: "\e605"; }



.form-error-msg{    border: 1px solid #FFB8B8;
    background: #FFB;
    display: inline-block;
    height: 30px;
    max-width: 375px;
    padding: 0 15px;
    vertical-align: top;
    box-sizing: border-box;
    color: #CF0101;
    position: relative;
    line-height: 30px;
  }
  
 .form-error-msg::before {
 content: "";
    position:absolute;
    height:0;width:0;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:0 solid transparent;
    border-right:6px solid #ffb8b8;
    top:10px;
    left:-6px;
 }
 .form-error-msg::after{
    content: "";
    position:absolute;
    height:0;width:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:0 solid transparent;
    border-right:5px solid #ffffbb;
    top:11px;
    left:-5px;
 }

/*设置icon-size 保持大小一致*/
.iconfont.icon-dingdan0{font-size: 45px;}
.iconfont.icon-zhuzhuangtu{font-size: 30px;}
.iconfont.icon-shixinxinxing{font-size: 50px;}
dl,dt, dd,ul,li{margin:0;padding: 0;}
.show{display: block!important;}
.hide{display: none!important;}
.color-orange{color:#ff8d04;}
.clearfix{*zoom:1;}
.clearfix:after{content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height:0;
}
.bi-header-box{height:80px;background-color: #fff;}
.bi-header{height: 80px;
    box-sizing: border-box;
    padding: 25px 2% 0 2%;
    z-index: 1000;
}
.logo-box{
    float: left;
    height:30px;
    cursor: pointer;
}
.logo-icon{
    float: left;
    height:inherit;
    background:url("../images/logo.png") no-repeat;
    background-size: contain;
    width:106px;
}
.col-line{
    float: left;
    height:14px;margin:8px 10px;background-color: #f0f0f0;width:1px;
}
.sys-title{font-weight: 500;font-size: 16px;color:#aaa;float: left;margin: 0;line-height: 16px;height:16px;padding:6px 0;}
.monitor-box{min-height:500px;min-width:1000px;}
.index-list{margin:125px 0 0 0;height:310px;background-color: #fff;list-style: none;text-align: center;display:flex;flex:box;display: -moz-box;  
  display: -webkit-box;  
  display: box;  
  display: flex;  
  -moz-flex: flex;  
  flex-flow: row;  }
.index-list-item{list-style: none;padding:70px 0 0 0;margin: 0;height: inherit;box-sizing: border-box;overflow: hidden;border-right:1px solid #f0f0f0;-webkit-box-flex: 1;  
  -moz-box-flex: 1.0;  
  -webkit-box-flex: 1.0;  
  box-flex: 1.0;  
  flex: 1;  }
.icon-index-item-box{height:70px;width:70px;margin: 0 auto 30px auto;border:6px solid #fafafa;border-radius: 41px;position: relative;line-height: 70px;
    text-align: center;}
.index-item-title{font-weight: 700;line-height: 1.5em;font-size: 18px;margin: 0; }
.index-item-title-tips{margin: 0;font-size: 14px;}
.icon-item-msg{background-color: #ffbd56;}
.icon-item-star{background-color: #ffb97a;}
.icon-item-zhuzhuangtu{background-color: #ffca65;}
.icon-item-shixinxinxing{background-color: #ffa54e;}
.icon-index-item{display: block;height: 100%;font-size: 40px;color:#fff;}
.index-list-item:hover{background-color: #fafafa;cursor:pointer;}
.index-list-item a{
    display: block;
}
.con-body{box-sizing: border-box;
    margin: 15px 3% 0 3%;
    background-color: #fff;
}
.title-header {
    min-height: 60px;
    position: relative;
}
.date-input-box {
    display: inline-block;
    margin: 0 0 0 10px;
}
.date-input-box label {
    display: inline-block;
    margin: 0 10px 0 0;
}
.select-box01 {
    display: inline-block;
    margin: 0 0 10px 10px;
    min-width: 90px;
}
.select-box01 select {
    min-width: 90px;
}
.mis-select {
    height: 32px;
    padding: 0 10px;
    font-size: 12px;
}
.select-box01 {
    display: inline-block;
    margin: 0 0 10px 10px;
    min-width: 90px;
}
.legend-box {
    position: absolute;
    top: 0;
    right: 50px;
}
.legend-list {
    height: 24px;
    margin: 12px 0 0 0;
    text-align: right;
}
.legend-item {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
}
.legend-icon {
    border: 6px solid #fff;
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
}
.legend--disabled .legend-icon {
    border-color: #c7c7c7;
}
.legend--disabled .legend-txt {
    background-color: #c7c7c7;
}
.legend-color02 {
    border-color: #34A637;
}
.legend-color03 {
    border-color: #6f91d0;
}
.legend-color04 {
    border-color: #f97370;
}
.legend-txt {
    border: 1px solid #CACACA;
    border-radius: 3px;
    display: inline-block;
    padding: 2px;
    height: 14px;
    cursor: pointer;
    line-height: 14px;
}
.title-header {
    min-height: 60px;
    position: relative;
    padding: 10px;
}
.data-title01 {
    font-size: 22px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
}
.select-box {
    background-color: #fff;
    cursor: pointer;
    padding: 5px 22px 5px 5px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.date-input {
    padding: 8px 0 8px 5px;
    width: 85px;
    height: 12px;
    outline: none;
}
.date-input-box {
    display: inline-block;
    margin: 0 0 0 10px;
}
.date-input-box label {
    display: inline-block;
    margin: 0 10px 0 0;
}
.button01 {
    padding: 0 15px;
    cursor: pointer;
    background: #FF7F01;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    border: 0 none;
    color: #FFF;
    font-size: 14px;
    outline: none;
}
.mis-input {
    border: 1px solid #ccc;
    height: 14px;
    padding: 10px 15px 10px 10px;
    border-radius: 3px;
    outline-color: #ffae5f;
    font-size: 12px;
}
.input-txt03 {
    width: 95px;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "microsoft yahei";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.con-body a {
  text-decoration: none;
  color: #FF8A07;
  font-size: 12px;
}
.con-body a.mis-btn{color:#fff;}
.content-wrap {
  padding: 25px;
  position: relative;
  min-height: 600px;
  font-family: "sans-serif";
}
.con-title-box {
  margin: 0 0 20px 0;
}
.con-title02 {
  height: 26px;
  line-height: 26px;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}
.title-item-box{margin-bottom:15px;}
.mis-btn {
    background: #ff8a07;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.mis-btn:link {
    background: #ff8a07;
}
.mis-btn:hover {
    background: #ffa32c;
    color: #fff;
}
.mis-btn:active {
    background: #fb8500;
}
.mis-btn-cancel {
    background: #d2d2d2;
     border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.mis-btn-cancel:link {
    background: #d2d2d2;
}
.mis-btn-cancel:hover {
    background: #8d8d8d;
}
.mis-btn-cancel:active {
    background: #7d7d7d;
}
.mis-btn01 {
    padding: 9px 10px;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.mis-btn02 {
    padding: 0 15px;
    color: #fff;
    height: 26px;
    line-height: 26px;
}
.mis-btn03 {
    padding: 0 28px 0 20px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 0;
}
.icon-add01 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/static/images/icon_add_b8dc6a5.png") no-repeat center center;
    margin: 0 5px 0 0;
}
.filter-wrap {
    margin: -20px 0 20px 0;
}
.search-box {
    height: 40px;
    background: #fff;
}
.search-btn {
    float: right;
    height: 20px;
    line-height: 20px;
    padding: 10px 13px;
    position: relative;
    text-align: center;
    color: #ff8a07;
    background: #fbf8f8;
    cursor: pointer;
}
.filter-box {
    padding: 10px 20px;
    background: #fbf8f8;
}
.filter-item {
    height: 38px;
    line-height: 38px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 12px;
    float: left;
}
.filter-item01 {
    height: 34px;
    line-height: 34px;
    position: relative;
    margin: 0 10px 10px 0;
    font-size: 12px;
    float: left;
}
.filter-item label {
    margin: 0 10px 0 0;
}
.input-txt02 {
    width: 120px;
}
.input-txt03 {
    width: 95px;
}
.input-txt04 {
    width: 335px;
}
.mis-input {
    border: 1px solid #ccc;
    height: 14px;
    padding: 10px 15px 10px 10px;
    border-radius: 3px;
    outline-color: #ffae5f;
    font-size: 12px;
}
.input-arrow-bottom {
    position: absolute;
    top: 15px;
    right: 5px;
    border-top: 8px solid #666;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    border-left: 5px solid rgba(0, 0, 0, 0);
    line-height: 0;
    cursor: pointer;
}
.mis-tab-box {
    margin: 0 0 10px 0;
    height: 30px;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}
.mis-tab-item {
    height: 28px;
    line-height: 28px;
    float: left;
    padding: 0 20px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    cursor: pointer;
    background: #fff;
}
.mis-tab-item:hover {
    color: #ff8a07;
}
.mis-tab-item.mis-tab-active {
    position: relative;
    z-index: 1;
    padding-bottom: 2px;
    font-weight: 700;
    border-top: 2px solid #ff8a07;
}
.mis-tab-active:hover {
    cursor: text;
    color: #666;
}
.mis-gridview-box {
    padding: 10px 0;
}
.mis-gridview-table {
    width: 100%;
}
.mis-gridview-table, .mis-gridview-table td, .mis-gridview-table th {
    border: 1px solid #e2e2e2;
    text-align: center;
}
.mis-gridview-table thead {
    background: #f4f3f3;
    color: #999;
}
.mis-gridview-table tr:nth-child(2n) {
    background: #fcfcfc;
}
.mis-gridview-table tr {
    height: 32px;
    line-height: 32px;
	
}
.mis-gridview-box .th-title01 {
    min-width: 40px;
}
.mis-gridview-box .th-title02 {
    min-width: 170px;
}
.mis-gridview-box .th-title03 {
    min-width: 150px;
}
.mis-gridview-box .th-title04 {
    min-width: 150px;
}
.mis-gridview-box .th-title03,.mis-gridview-box .th-title01,.mis-gridview-box .th-title02,.mis-gridview-box .th-title04{
	max-width: 280px;
   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
}
/*page */

.page-box {
    margin: 25px 0 0 0;
}
.ep-pages {
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 740px;
    margin: 0 auto;
    font-size: 12px;
}
.ep-pages li, .ep-pages a,.ep-pages span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
    background: #ff7f01;
    cursor: pointer;
    text-decoration: none;
	color:#fff;
}
.ep-pages li:hover, .ep-pages a:hover {
    color: #000;
    background: #d7d7d7;
}
.ep-pages .page-action, .ep-pages .page-action a {
    background: #d7d7d7;
    color: #000;
}
.ep-pages .page-action:hover, .ep-pages .page-action a:hover {
    cursor: text;
}
.ep-pages .page-btn, .page-btn a {
    width: 75px;
    background: #ff7f01;
}
.ep-pages .ep-pages-disabled {
    background: #d7d7d7;
    cursor: text;
}
.ep-pages .ep-pages-disabled:hover {
    color: #fff;
    background: #e5e5e5;
}
.must-start{color: #f42b2b;font-style: normal;}
/*表单的相关样式，参照于市场营销*/
.market-box{border:1px solid #e2e2e2;padding-bottom: 5px ;background: #eee;margin-bottom: 15px;}
.market-item-title{height:42px;line-height: 42px;font-size: 16px;font-weight: 700;margin: 0 15px;}
.market-item{background: #fafafa;}
.market-item li{border:1px solid #e2e2e2;margin-top:-1px;}
.market-item .label-title{border-right:1px solid #e2e2e2;background-color:#f3f3f3;display: table-cell;width:104px;box-sizing: border-box;min-height:50px;padding:0 10px;text-align: center;vertical-align: middle;font-weight: 700;line-height: 1.2em;}
.market-item .policy-txt{padding: 10px 15px;min-height: 30px;display: table-cell;min-width: 280px;}
.market-item .policy-input{height:26px;border:1px solid #ccc;border-radius: 4px;width:350px;padding:0 5px;}

.market-item .label-box{display: inline-block;margin-right: 30px;height:20px;padding:0 5px;line-height: 20px;  vertical-align: top;}
.market-item .checked{background: #f6a828;color:#fff;}
.market-item input[type='radio']{margin: 4px 5px 0 0;}
.market-item input[readonly]{background-color: #e3e3e3;}
.market-item .policy-input02{width:100px;}
.market-item .policy-input03{width:160px;}
.market-item .radio-box{width:300px;  float: left;}
.radio-checked-box{padding: 15px 0 5px 0;}
.radio-checked-item{margin-bottom: 10px;}
.market-box .checkbox-list{display: inline-block;margin-left: 25px;}
.checkbox-list li{display: inline-block;font-size: 14px;    font-weight: 500;min-width: 100px;}
.checkbox-list input[type='checkbox']{margin-top: -3px;    vertical-align: middle;}
.market-item .policy-rule-box{border:1px solid #e3e3e3;margin-bottom: -1px; }
.market-item .rule-title{width:80px; ;float: left;text-align: center;padding-top: 30px; }
.market-item .rule-detail-list{
    /*Firefox*/
    width:-moz-calc(100vw - 480px);
    /*chrome safari*/
    width:-webkit-calc(100vw - 480px);
    /*Standard */
    width:calc(100vw - 480px);
    margin-left: 80px;
    box-sizing: border-box;
    border-left: 1px dashed #e6e6e6;
}
.market-item .rule-detail-list li{border: 0 none;border-bottom: 1px dashed #e6e6e6;min-height: 52px;box-sizing: border-box;padding:10px 12px;margin-bottom: -1px;}
.rule-detail-list .rule-input-label{display: inline-block;min-width:4em;padding: 0 5px;margin:8px 0 0 10px;vertical-align: top;text-align: center;line-height: 20px;height: 20px;}
.rule-detail-list .rule-input-text{display: inline-block;height:80px;width:400px;}
.rule-detail-list.rule-msg-list{margin-left: -1px;}
.market-item .label-wrap{vertical-align: top;margin:8px 5px 0 10px;}
.label-wrap input[type='checkbox']{margin-top: 4px;}
.label-wrap span{vertical-align: top;}
.mis-btn-big{min-width: 95px;height:30px;}
.form-btn-item {
    text-align: center;
    margin: 30px 0 0 0;
}
.flex-box-row{
    display: flex;
  flex: box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: flex;
  -moz-flex: flex;
  flex-flow: row;
}
.flex-box-1{
    webkit-box-flex: 1;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  flex: 1;
}
/*表单相关样式结束*/
/* 营销管理页面相关的样式*/
.form-box{padding: 50px;border: 1px solid #E1E1E1;}
.form-title{height:30px;font-size: 30px;font-weight: 500;line-height: 30px;padding-bottom: 30px;border-bottom: 1px solid #e6e6e6;margin:0;}
.form-title01{height:20px;font-size: 20px;font-weight: 500;line-height: 20px;padding-bottom: 20px;border-bottom: 1px solid #e6e6e6;margin:0;}
.form-list{margin:45px 0 40px 0;}
.form-list .form-input-item{min-height:42px;line-height: 42px;margin-bottom: 25px;}
.form-list .form-input-txt{height:42px;line-height: 42px;margin-bottom: 10px;}
.form-input-item .label-title{min-width:130px;margin-left: 28px;color:#808080;overflow: hidden;}
.form-input-item .label-title-01{width:75px;}
.form-input-item .input-box{}
.form-input-item .form-input,.form-input-item .form-select{border-radius: 3px;width:100%;max-width: 340px;box-sizing:border-box;border:1px solid #ccc;height:42px;padding:0 10px;margin-right: 10px;}
.form-input-item .form-radio{vertical-align: middle;  margin: -2px 10px 0 0;}
.form-input-item .label-radio{display: inline-block;height: inherit;line-height: inherit;margin-right: 50px;}
.form-input-item .radio-title{display: inline-block;height: inherit;line-height: inherit;}
.form-input-item .form-input01{width: 650px;}
.form-input-item .form-input02{width:160px;}
.form-input-item .form-input03{width:255px;}
.form-tab-box{margin-left:-50px;margin-right:-50px;height:70px;line-height: 70px;border:1px solid #f0f0f0;text-align: center;}
.form-tab-box li{background-color: #f0f0f0;border-right: 1px solid #fff;border-left: 1px solid #fff;cursor: pointer;margin-right: -1px;}
.form-tab-box li:last-child{border-right: 0 none;}
.form-tab-box li:hover,.form-tab-box li.tab-active{background-color: #fafafa;border-right: 0 none;}

.form-box .txt-box{min-height:42px;line-height: 42px;background-color: #fafafa;min-width:165px;margin-right: 30px;display: inline-block;box-sizing:border-box;padding: 0 10px;}
.form-textarea{height:120px;width:650px;border:1px solid #ccc;}
.form-box .form-btn,.form-btn{font-family: "microsoft yahei";height: 42px;padding:0 25px;margin-right:15px;line-height: 42px; text-align: center;background-color: #fff;border: 1px solid #ccc;border-radius: 3px;cursor: pointer;display: inline-block;}
.form-box  .form-btn:hover,.form-box  .form-btn:hover .color-orange{background-color: #FF8903;color:#fff;}
.form-box .form-btn01,.form-btn01 {padding:0 45px;background-color: #ff8903;color:#fff;}
.form-box .form-btn-cancel,.form-btn-cancel,.form-box .form-btn-white{background-color: #fff;color:#666;}
.form-box .label-txt{margin-right: 15px;}
.btn-box{border-top: 1px solid #f5f5f5;padding:68px 0;text-align: center;}

 
.action-item{display: inline-block;margin-right: 30px;cursor: pointer;}

/*popup的弹层*/
.mis-popup-city {
    width: 630px;
    border: 1px solid #b4b4b4;
    padding: 15px;
    position: absolute;
    z-index: 5000;
    top: 50px;
    left: 300px;
    background: #fff;
}
.mis-popup-city .popup-city-list {
    height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}
.mis-popup-city .city-box {
    padding: 0 0 20px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #efefef;
}
.mis-popup-city .city-title {
    height: 14px;
    line-height: 14px;
    font-weight: 700;
}
.mis-popup-city .mis-checkbox {
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.mis-popup-city .city-list {
    margin: 0 20px;
}
.mis-popup-city .city-item {
    display: inline-block;
    margin: 13px 0 0 0;
}
.mis-popup-city .city-item label {
    margin: 0 5px;
}
.popup-btn-box {
    text-align: right;
}
.icon-arrow02 {
    height: 12px;
    width: 12px;
    background: url("/static/images/icon_arrow02_0a45cc6.png") no-repeat center center;
    display: inline-block;
    cursor: pointer;
}
.auto-itemBox{display:none;}
.auto-itemBox-toggle  .auto-itemBox{display:block;}
.mis-popup-city .popup-city-list {
    height:auto;
    min-height:80px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}
.input-popup{width:300px;}

/*popup*/
.mis-popup-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    top: 0;
    left: 0;
}

.mis-popup-stuff {
    width: 550px;
    border: 1px solid #cdcdcd;
    min-height: 115px;
    border-radius: 3px;
    padding: 0 0 15px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
}

.title-popup-box {
    border-bottom: 1px solid #cdcdcd;
    background: #efefef;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    position: relative;
}
.mis-popup-title {
    font-family: "microsoft yahei";
    font-size: 12px;
    font-weight: 700;
    color: #8b8b8b;
    height: 100%;
}

.mis-popup-content {
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
}
.mis-popup-item {
    margin: 0 0 10px 0;
}

.popup-form-item {
  margin: 0 0 10px 0;
}
.popup-text{width: 90%;height:120px;}