html,
body {
	min-height:100%;
    overflow-x: hidden;
    font-family:"microsoft yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    background: #f3f3f3!important;
    letter-spacing: 1px;
	position:relative;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
[tabindex],[tabindex]:focus{outline: none;}
a,input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
    resize: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover,a:active{color:#ff8903;}
p {
    margin: 1em 0;
}
[v-cloak] { display: none!important; }

ul,li{list-style: none;}
.rel{
    position: relative;
}
.absolute{position: absolute;}
.right {
  float: right;
}
.left{float: left;}
.txt-center {
  text-align: center;
}


@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_1439369781_1086154.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1439369781_1086154.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1439369781_1086154.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1439369781_1086154.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1439369781_1086154.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.ddui-font-fangda:before { content: "\e614"; }
.ddui-font-bianji:before { content: "\e60f"; }
.ddui-font-sousuo:before { content: "\e612"; }
.ddui-font-jiahao:before { content: "\e611"; }
.ddui-font-zuojiantou:before { content: "\e606"; }
.ddui-font-youjiantou:before { content: "\e607"; }
.ddui-font-loading2:before { content: "\e608"; }
.ddui-font-shangsanjiao:before { content: "\e609"; }
.ddui-font-iconfontzhexiantu:before { content: "\e60a"; }
.ddui-font-cha:before { content: "\e60b"; }
.ddui-font-icsanjiaoxia:before { content: "\e60c"; }
.ddui-font-tongjitu:before { content: "\e60d"; }
.ddui-font-zhexiantu:before { content: "\e60e"; }
.ddui-font-dingdan0:before { content: "\e601"; }
.ddui-font-wujiaoxing:before { content: "\e600"; }
.ddui-font-tongjifenxi:before { content: "\e615"; }
.ddui-font-zhuzhuangtu:before { content: "\e602"; }
.ddui-font-108fenleifangkuai:before { content: "\e616"; }
.ddui-font-dayuhao:before { content: "\e619"; }
.ddui-font-quanbuwenshufuzhi:before { content: "\e610"; }
.ddui-font-shixinxinxing:before { content: "\e603"; }
.ddui-font-tishi:before { content: "\e613"; }
.ddui-font-iconfontpingmufangda:before { content: "\e604"; }
.ddui-font-iconfontpingmusuoxiao:before { content: "\e605"; }
.ddui-font-iconfontshexiangtou:before { content: "\e617"; }
.ddui-font-didi-bi:before { content: "\e618"; }


 .ddui-con-body{background-color: #fff;border-top: 2px solid #e7e7e7;}
/*设置icon-size 保持大小一致*/
.iconfont.icon-dingdan0{font-size: 45px;}
.iconfont.icon-zhuzhuangtu{font-size: 30px;}
.iconfont.icon-shixinxinxing{font-size: 50px;}
dl,dt, dd,ul,li{margin:0;padding: 0;}
.show{display: block!important;}
.hide{display: none!important;}
.color-orange{color:#ff8d04;}
.clearfix{*zoom:1;}
.clearfix:after{content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height:0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "microsoft yahei";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.con-body a {
  text-decoration: none;
  color: #FF8A07;
  font-size: 12px;
}

.content-wrap {
  padding: 25px;
  position: relative;
  min-height: 600px;
  font-family: "sans-serif";
}
.con-title-box {
  margin: 0 0 20px 0;
}

.flex-box-row{
    display: flex;
  flex: box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: flex;
  -moz-flex: flex;
  flex-flow: row;
}
.flex-box-1{
    webkit-box-flex: 1;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  flex: 1;
}
.ddui-btn {
    background: #ff8a07;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.ddui-btn:link {
    background: #ff8a07;
}
.ddui-btn:hover {
    background: #ffa32c;
    color: #fff;
}
.ddui-btn:active {
    background: #fb8500;
}
.ddui-btn-cancel {
    background: #d2d2d2;
      background: #d2d2d2;
     border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.ddui-btn-cancel:link {
    background: #d2d2d2;
}
.ddui-btn-cancel:hover {
    background: #8d8d8d;
}
.ddui-btn-cancel:active {
    background: #7d7d7d;
}

.ddui-btn01 {
    padding: 9px 10px;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.ddui-btn02 {
    padding: 0 15px;
    color: #fff;
    height: 24px;
    line-height: 24px;
}
.ddui-btn03 {
    padding: 0 28px 0 20px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 0;
}
/*jquery-ui 自动填充的css巴拉过来*/
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none
}

.ui-menu .ui-menu {
    position: absolute
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
}

.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0
}

.ui-menu .ui-state-focus,.ui-menu .ui-state-active {
    margin: -1px
}
.ui-widget-content {
    border: 1px solid #ddd;
     background:#eee; 
    color: #333;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em
}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
    border: 1px solid #ccc;
    background: #f6f6f6 ;
    font-weight: bold;
    color: #1c94c4
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
    border: 1px solid #fbcb09;
    background: #fdf5ce ;
    font-weight: bold;
    color: #c77405
}

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited {
    color: #c77405;
    text-decoration: none
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}