html,
body {
	min-height:100%;
    overflow-x: hidden;
    font-family:"microsoft yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    background: #f3f3f3!important;
    letter-spacing: 1px;
	position:relative;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
[tabindex],[tabindex]:focus{outline: none;}
a,input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
    resize: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover,a:active{color:#ff8903;}
p {
    margin: 1em 0;
}
[v-cloak] { display: none!important; }

ul,li{list-style: none;}
.rel{
    position: relative;
}
.absolute{position: absolute;}
.right {
  float: right;
}
.left{float: left;}
.txt-center {
  text-align: center;
}
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1436775863_7268705.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1436775863_7268705.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1436775863_7268705.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1436775863_7268705.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1436775863_7268705.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fangda:before { content: "\e614"; }
.icon-bianji:before { content: "\e60f"; }
.icon-sousuo:before { content: "\e612"; }
.icon-jiahao:before { content: "\e611"; }
.icon-zuojiantou:before { content: "\e606"; }
.icon-youjiantou:before { content: "\e607"; }
.icon-loading2:before { content: "\e608"; }
.icon-shangsanjiao:before { content: "\e609"; }
.icon-iconfontzhexiantu:before { content: "\e60a"; }
.icon-cha:before { content: "\e60b"; }
.icon-icsanjiaoxia:before { content: "\e60c"; }
.icon-tongjitu:before { content: "\e60d"; }
.icon-zhexiantu:before { content: "\e60e"; }
.icon-dingdan0:before { content: "\e601"; }
.icon-wujiaoxing:before { content: "\e600"; }
.icon-zhuzhuangtu:before { content: "\e602"; }
.icon-quanbuwenshufuzhi:before { content: "\e610"; }
.icon-shixinxinxing:before { content: "\e603"; }
.icon-tishi:before { content: "\e613"; }
.icon-iconfontpingmufangda:before { content: "\e604"; }
.icon-iconfontpingmusuoxiao:before { content: "\e605"; }

/*设置icon-size 保持大小一致*/
.iconfont.icon-dingdan0{font-size: 45px;}
.iconfont.icon-zhuzhuangtu{font-size: 30px;}
.iconfont.icon-shixinxinxing{font-size: 50px;}
dl,dt, dd,ul,li{margin:0;padding: 0;}
.show{display: block!important;}
.hide{display: none!important;}
.color-orange{color:#ff8d04;}
.clearfix{*zoom:1;}
.clearfix:after{content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height:0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "microsoft yahei";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.con-body a {
  text-decoration: none;
  color: #FF8A07;
  font-size: 12px;
}

.content-wrap {
  padding: 25px;
  position: relative;
  min-height: 600px;
  font-family: "sans-serif";
}
.con-title-box {
  margin: 0 0 20px 0;
}

.flex-box-row{
    display: flex;
  flex: box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: flex;
  -moz-flex: flex;
  flex-flow: row;
}
.flex-box-1{
    webkit-box-flex: 1;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  flex: 1;
}
.ddui-btn {
    background: #ff8a07;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.ddui-btn:link {
    background: #ff8a07;
}
.ddui-btn:hover {
    background: #ffa32c;
    color: #fff;
}
.ddui-btn:active {
    background: #fb8500;
}
.ddui-btn-cancel {
    background: #d2d2d2;
      background: #d2d2d2;
     border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0 none;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    margin: 0 7px;
}
.ddui-btn-cancel:link {
    background: #d2d2d2;
}
.ddui-btn-cancel:hover {
    background: #8d8d8d;
}
.ddui-btn-cancel:active {
    background: #7d7d7d;
}

.ddui-btn01 {
    padding: 9px 10px;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.ddui-btn02 {
    padding: 0 15px;
    color: #fff;
    height: 24px;
    line-height: 24px;
}
.ddui-btn03 {
    padding: 0 28px 0 20px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin: 0;
}