<dl>
    <dt class="banner-link-box j_banner-link-box" v-attr="data-index:$index" v-class="banner-active:isActive">{{item.name}}</dt>
    <dd class="icon-arrow-top banner-item-list j_banner-item-list" v-class="hide:item.isHide"
        v-attr="data-index:$index">
        <div class=" banner-item-link-box" v-repeat="child:item.child">

            <template v-repeat="child">
                <a href="{{url}}" target="_blank" class="banner-item-link" v-if="url">{{name}}</a>

                <h3 class="banner-item-link banner-item-title" v-if="menu">{{name}}</h3>
                <template v-repeat="it:menu">
                    <a href="{{it.url}}" target="_blank" class="banner-item-link banner-item-link-s">{{it.name}}</a>
                </template>
            </template>
        </div>
    </dd>
</dl>
